div.align-center.container
    form(id="categoryForm", (ngSubmit)="onSubmit()")
        h2.text-center {{ title }}
        div.vspace
        span(id="loginErrorMessages", style="color: red;") {{error}}
        div.form-group
            label(for="categoryName") Category Name
            input(id="categoryName", type="text", placeholder="Enter the category name...", required, autofocus, [(ngModel)]="formData.name", name="name").form-control
        div.form-group
            label(for="categorySlug") Category Slug
            input(id="categorySlug", type="text", placeholder="Enter the category slug...", [(ngModel)]="formData.slug", name="slug").form-control
        div.form-group
            label(for="categoryColor") Category Color
            input(id="categoryColor", type="color", [(ngModel)]="formData.color", name="color").form-control
        div.form-group
            label(for="categoryParent") Parent
            select(id="categoryParent", [(ngModel)]="formData.parentId", name="parentId").form-control
                option(*ngFor="let category of categories", [value]="category.id") {{ category.name }}
        div.vspace
        button(id="categorySubmit", type="submit").btn.btn-lg.btn-primary.center-block {{ submitText }}

simple-notifications([options]="notificationsOptions")
