div.container
    div.panel.panel-default
        div.panel-heading Actions
        div.panel-body
            ul.list-unstyled
                li
                    i.glyphicon.glyphicon-remove.text-danger
                    a((click)="removeTokens()") Force other tokens deletion

simple-notifications([options]="notificationsOptions")
